<!DOCTYPE html>
<html>
  <head>
    <title>Movie Molly webview</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
<body>
<div class="home">
<h1> {{ title.titlename }} ({{year.yearname}})</h1>
<p><b>Run Time: nn</b> {{ run_time.run_timename }}</p>
<img src={{poster_url.poster_urlname}} alt={{title.titlename}} width="342" height="513" border="0">
<p> <b>Rating:</b> 
<p> <b>Genres:</b> 
{% for genre in genre_list %}
{{ genre.genre_listname}}{% if not loop.last %}, {% endif %}
{% endfor %}
</p>
<p> <b>Directors:</b> 
{% for director in director_list %}
{{ director.director_listname}}{% if not loop.last %}, {% endif %} 
{% endfor %}
</p>
<p> <b>Stars:</b> 
{% for actor in actor_list %}
{{ actor.actor_listname}}{% if not loop.last %}, {% endif %}
{% endfor %}
</p>
<p></p>
<p></p>
<p>{{ plot.plotname }}</p>
</div>
</body>
</html>